body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.appBar i.material-icons {
  font-size: 30px;
  margin-top: 10px;
  /*margin-left: 7%;*/
  position: absolute;
  left: 47%;
}

.route-indicator {
  position: absolute;
  top: 17px;
  left: 18px;
  color: #fff;
  font-size: 12px;
}

hr {
  opacity: 0.5;
}

.drawer small {
  color: #607d8b;
  margin-left: 10px;
}

.drawer span.bus {
  background-color: #607d8b;
  padding: 5px;
  color: #fff;
  border-radius: 2px;
  margin-left: 10px;
}

.drawer {
  text-align: left;
}

.routes {
  margin-top: -2px;
}

.snackbar > div {
  background-color: #F44336 !important;
}

.snackbar > div > div {
  font-weight: 700;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.leaflet-container {
  height: calc(100vh - 50px);
  width: 100%;
}

.floating-icon::after {
  content : 'test';
  float: left;
  margin-top: 5px;
  margin-right: -40px;
  margin-left: 5px;
  width: 15px;
  height: 12px;
  background-color: #fff;
}

@media screen and (max-width: 540px) {
  .leaflet-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    height: inherit;
  }
}